page-perfil {

}

.dp{
	border-radius: 50%;
	height: 100px;
	width:	100px;
	z-index: 10;
	margin-top: -70px;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	box-shadow: -50 -6px 15px 81px 3px rgba(0, 0, 0, 0.75);
}