page-carrinho {

}

.TrashButton{
    position: relative;
    right: 0%

}

.produtoimg{
	position: relative;
    height: 120px;
    width: 160px;
    left: 16%;
}

.small {
	font-size: small;
  position: relative;
  top:15px;
}
